@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:opsz,wght@14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@600&display=swap');

:root {
    --bg-primary-color: #1F1517;
    --bg-second-color: #181012;

    --details-color: #FFF2E7;
    --border-color: #A45A49;

    --font-primary-color: #FFFF;
    --font-second-color: #A45A49;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--bg-primary-color);
    color: var(--font-primary-color);
    font-family: Epilogue, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}
h1 {
    font-family: Monteserrat;
    font-size: 2.5rem;
    font-weight: 800;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.highlight_brown {
    color: var(--font-second-color);
    font-family: Epilogue;
    font-size: .75rem;
    font-weight: 500;
    text-transform: uppercase;
}

/*Menu*/
.menu {
    padding: 1rem 2rem;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: .5px solid var(--border-color);
}
.menu__logo {
    font-family: Teko;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.menu__list {
    display: none;
}
.github {
    color: var(--font-primary-color);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.github:hover {
    text-decoration: none;
    color: var(--font-second-color);
    transform: scale(1.5rem);
}

/*Contato*/
.contact {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 1rem;
    gap: .5rem;
}
.contact h5, span {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}
.contact__social {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem
}
.contact__icon {
    color: var(--details-color);
    font-size: 2rem;
    cursor: pointer;
}

/*Footer*/
footer {
    display: flex;
    flex-flow: row wrap;
    padding: 0rem 1rem 2rem 1rem;
    font-weight: 100;
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
    /*Menu*/
    .menu {
        width: 100%;
        height: 90px;
        margin: auto;
        padding: 2rem 4rem;
    }
    .menu__logo, .github {
        font-size: 2rem;
    }
    .menu__list {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        padding: 1rem 0rem;
    }
    .menu__item a  {
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--font-primary-color);
    }

    /*Rodapé
    footer {
        padding-left: 2rem;
    }*/
}