/*Slider main*/
.slider__content {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}
.slider__subtitle {
    color: var(--details-color);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    padding: .5rem 0rem;
}
hr {
    border-color: var(--border-color);
}
.slider__image {
    display: none;
}

/*Cards Receitas*/
.cards__all {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem 2rem;
    gap: 2rem;
}
.cards__title {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
}
.cards__subtitle {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    color: var(--details-color);
    padding: .5rem 0rem;
}
.card-text {
    font-weight: 300;
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card {
    border: 2px solid var(--border-color);
    background: transparent;
}
.card_status {
    padding: 1rem;
}
.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}
.btn {
    background: var(--border-color);
    border: none;
}
.btn:hover {
    border: none;
    background: linear-gradient(135deg, var(--bg-second-color), var(--border-color));
}
.btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--border-color);
}
/*Footer*/
footer {
    display: flex;
    flex-flow: row wrap;
    padding: 0rem 1rem 2rem 1rem;
    font-weight: 100;
}
/**Responsividade**/
@media (max-width: 410px) {
  .cards .card {
    width: 100% !important;
    max-width: 22rem; 
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 800px) {
/*Cards*/
.cards {
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
}}

@media (min-width: 1200px ) { 
    .highlight_brown {
        font-size: 1.3rem;
    }
    /*Slider main*/
    .slider {
        width: 100%;
        height: 700px;
        background: var(--bg-second-color);

        display: flex;
        flex-direction: row;
        padding: 0rem 0rem 0rem 4rem;
        gap: 5rem;
    }
    .slider__content {
       height: 100%;
       display: flex;
       justify-content: center;
    }
    .slider__subtitle {
        font-size: 1.8rem;
    }
    .slider__image {
        display: flex;
        justify-content: end;
    }
    .slider__image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    /*Cards*/
    .cards__all {
        padding: 4rem 4rem 4rem 4rem;
    }
    /*Contato*/
    .contact {
        padding-left: 4rem;
    }
    .contact h5 {
       font-size: 1.5rem;
    }
    .contact__icon {
        font-size: 2.8rem;
    }
    /*Rodapé*/
    footer {
        padding: 0rem 0rem 0rem 4rem;
    }
}